# ========================
# ML / Model files
# ========================
models/
*model.safetensors
*.pt
*.pth
*.h5
*.pkl


# ========================
# Python cache
# ========================
__pycache__/
*.pyc
*.pyo

# ========================
# Virtual environments
# ========================
venv/
.env/
.env.*

# ========================
# Jupyter
# ========================
.ipynb_checkpoints/

# ========================
# Logs & temp
# ========================
logs/
*.log
tmp/